profiles {
    nf_test {
        params {
            projectTitle  = 'ngs_nf-test'
            samplesheet   = 'https://github.com/utia-gc/ngs-test/raw/ngs/samplesheets/samplesheet_lanes_mix.csv'

            // max resources
            maxCpus   = 2
            maxMemory = '4.GB'
            maxTime   = '15.m'
        }
        
        singularity {
            enabled = true
            cacheDir = "${SCRATCHDIR}/singularity/"
            autoMounts = true
        }
    }
}
